<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stickey Notes</title>
  <!-- read css -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/stickey-notes.css">
  <!-- readed css -->
</head>
<body>
  <header id="header">
     <div class="header-line">
      <i class="fa fa-  home header-menu header-menu-left" aria-hidden="true"></i>
      <div style="clear: both;"></div>
    </div>
    <div class="contents-title">
      <h1>Stickey Notes</h1>
      <a href="#">
      <span class="font-gray">Stickey Notes の説明</span>
        <span class="ttp-show">
          <div><i class="fa fa-plus memo-icon" aria-hidden="true"></i><span class="ttp-text">メモの追加</span></div>
          <hr>
          <div><i class="fa fa-trash-o memo-icon" aria-hidden="true"></i><span class="ttp-text">メモを削除</span></div>
          <hr>
          <div><i class="fa fa-cog memo-icon" aria-hidden="true"></i><span class="ttp-text">メモの設定</span></div>
        </span>
      </a>
    </div>
  </header>
  <main>
  </main>
  <!-- read js -->
  <script type="text/javascript" src="js/stickey-notes.js"></script>
  <!-- readed js -->
</body>
</html>